{% extends "base.html" %}
{% block title %}Youv'e logged in 
{% endblock %}
{% block content %}
<section>
    <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container">
               <div class="form">
                   <h2>Add Question to Batabase</h2>
                   <form action="" method="POST">
                       <div class="inputBox">
                           <!-- <input type="text" name="ques" id="ques" placeholder="Question"> -->
                           <textarea name="question" id="question" rows="4" cols="40">Write the Question here.</textarea>
                       </div>
                       <div class="inputBox">
                            <!-- <input type="password" name="password" id="password" placeholder="Password"> -->
                            <textarea name="answer" id="answer" rows="4" cols="40">Write the Answer here.</textarea>
                        </div>
                        <div class="dropBox">
                            <!-- <label for="marks">Choose a car:</label> -->
                                <select id="marks" name="marks">
                                    <option value="2Mark">2Mark</option>
                                    <option value="5Mark">5Mark</option>
                                    <option value="10Mark">10Mark</option>
                                </select>

                                <select id="challenge" name="challenge">
                                    <option value="Easy">Easy</option>
                                    <option value="Moderate">Moderate</option>
                                    <option value="Hard">Hard</option>
                                </select>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="subject" id="subject" placeholder="Subject Code">
                        </div>
                        <div class="inputBox">
                            <input type="text" name="Module" id="Module" placeholder="Module">
                        </div>
                        <div class="inputBox">
                            <input type="submit" id="btnSignUp" value="Add">
                            <div class="inputBox">
                                <a href="{{ url_for('logged_in') }}">
                                <input type="button"  id="btnSignUp" value="Back"></a>
                            </div>
                        </div>
                   </form>
               </div>
            </div>
        </div>
</section>
{% endblock %}